/* style.css */

section.st-emotion-cache-1gv3huu.eczjsme11 {
    background-image: url('https://agriculture.gouv.fr/sites/default/files/inrae_logo_369_x149_0.png');
    background-size: 11%; /* Adjust the size of the background image */
    background-repeat: no-repeat;
    background-attachment: fixed;

 
}
